* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact_page{
	display: block;
}

html {
	margin-left: -15px;
	margin-right: -15px;
    display: table;
    margin: 10px, ;
}
body { 
	
	background-color: lightgrey; 
	background-image: url(photos/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	opacity: 98%;
	
}

h1 , h2 {
	margin-top: 80px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: lightyellow;
	text-shadow: 2px 2px black;
}

.background-2{
	background-color: rgba(60, 160, 160, 0.6);
	
}

h1{ 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: capitalize;
	text-align: center;
}


.contact{
	color: yellow;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px rgb(95, 94, 94) ;
	padding-bottom: 1px;
	margin: auto;

}
.container {
	margin: 300px;

	border-radius: 5px;
	background-color:rgba(60, 160, 160, 0.6) ;
	padding: 200px;
  }

#subject{
	box-sizing: content-box;
	height: 200px;
	width: 100%;
}
.cover {
	border-radius: 15%;
	max-width: 500px;
	display: block;
	margin: auto;
	width:  50%;
}

a {
	color:black;
}


h2, h4 {
	text-transform: capitalize;
	margin: auto;
	text-align: center;
}

#tribute-info, .container{
	text-align: justify;
	margin: relative;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
	color: lightyellow;
	opacity: 90%;
	text-shadow: -1px -2px black;
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
	}

.divider {
	border-top: 3px solid #000000;
}

.bgt:hover {
	background: rgba(155,155,155,0.5);
	border-radius: 3px;
	transition: 250ms;
	transition-delay: 250ms;
	transition-property: background-color;
	transition-timing-function: ease-in-out;
}

.allsongs, .songs {
	color: purple;
	text-decoration-color: indigo ;
	font-family: arial, times new roman;
	margin:  auto;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	padding-bottom: 20px;
}

.allsongs, .songs:hover{
	color: pink; transition: 0.5s;
}

.songs:active{
	color: lightorange;
	font-size: 25px;
}

.songs:visited{
	color:  lightorange;
}

h3, h6 {
	text-align: center;
	text-shadow: 2px 2px grey;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.h4, .h5 {
	text-align: center;
	text-shadow: 2px 2px rgb(95, 94, 94);
	font-size: 25px;
	text-transform: uppercase;
}

h3:hover{
	color: r(0,0,0, 0.3);
	transition: 0.3s;
	letter-spacing: 3px;
	cursor: pointer;
}

.h4:hover{
	color: r(0,0,0, 0.3);
	transition: 0.3s;
	letter-spacing: 3px;
	cursor: pointer;
}

.h5:hover{
	color: r(0,0,0, 0.3);
	transition: 0.3s;
	letter-spacing: 3px;
	cursor: pointer;
}

#photo-logo{
	cursor:auto;
	size: fixed;
}



.me, .it {
	margin:auto;
	max-width: 80%;
	max-height: 80%;
	display: block;
	justify-content: center;
	filter: grayscale(79%);
	opacity: 89%;
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
}



.flex {
	display: flex;
}


.flex > * {
	flex-basis: 100%;
}

.myself, .company-text{
	font-size: 14px;
	text-shadow: 1px 1px rgb(95, 94, 94) ;
	text-align: justify;
max-width: 80%;
margin: 10%;
}


.page-divider{
	font-size: 30px;
	font-weight: bolder;
}
.second-page{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px rgb(95, 94, 94) ;
	padding-bottom: 1px;
	margin: auto;
}

.br{
	margin: auto;
	font-size: 20px;
	text-align: center;
}

.myself, .company-text {
	color: lightyellow	;
}

/* included myself and company-text*/.beatstore{
	text-align: justify;
	padding-block: 20px;
	padding-inline: 100px;
	color: lightyellow;
	opacity: 90%;
	text-shadow: -1px -2px black;
	
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
}

.behindsongs {
	background-color: rgba(70, 167, 167, 0.4);
    position: relative;
    border: rgba(166, 166, 166, 1.0);
    border-radius: 4%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 0;
    width: 70%;
    height: 80%;
}

#beats{
	font-size: 30px;
	text-transform: capitalize;
	margin: auto;
	text-align: center;
	position: a;
}

.beats-link:hover{
	transition: 0.3s;
	letter-spacing: 30px;
	cursor: pointer;
	-webkit-animation: pulsate 0.3s ease-out;
	-webkit-animation-iteration-count:  5; 
	opacity: 50%;

}

.trending{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bolder;
	color: black;
	text-shadow: 1px -1px grey;
	text-align: center;
	-webkit-animation: pulsate 3s ease-out;
	-webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
/*learn about webkit*/



#embeds{
	margin: 5px;
	justify-content: center;
}
.buttons_main{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	flex-direction: column;

	

}



.ripple {
	color: #ffffff;
	position: relative;
	display: inline-block;
	padding: 12px, 36px;
	margin: 10px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	overflow: hidden;
	background: linear-gradient(90deg, rgb(27, 210, 210), rgb(14, 104, 100)) ;

}
.ripple:nth-child(2){
	background: linear-gradient(90deg, rgb(119, 39, 123), rgb(6, 154, 136));
}

span { 
	position: absolute;
	background:cyan;
	transform:translate(-50%, -50%);
	pointer-events: none;
	border-radius: 50%;
	opacity: 50%;
	animation: animate 1s linear infinite;
}
@keyframes animate{ 
	0%
	{
		width: 0px;
		height: 0px;
	}
	100%
	{
			width: 500px;
			height: 500px;		
	}
}



/*Footer*/
footer{
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bolder;
	padding-bottom: 10px;}
	footer:hover{opacity: 80%;
}

/*Button*/
.btn{
	background: rgb(2,0,36);
	background: linear-gradient(to bottom right, rgba(40,165,194,100) 19%, rgba(0,212,255,0.3) 47%,  rgba(2,0,36,0.3)67%, rgba(60,47,185,62) 77%);
	background-color: mediumpurple;
	opacity: 80%;
	color: lightyellow;
	text-shadow: black 1px 1px;
	padding: 3px;
	font-size: 8px;
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	border-color: green;
	margin: 10px 10px 10px 10px;
}
.btn:hover{
	font-size: 9px;
	color: cyan;
}
.btn:active{
	font-size: 10px;
	background:  rgb(10, 119, 119);
	opacity: 50%;
}





@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}